@-moz-viewport{ width: device-width; scale: 1;}
@-ms-viewport{ width: device-width; scale: 1;}
@-o-viewport{ width: device-width; scale: 1;}
@-webkit-viewport{ width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing:border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height:1.3;

}
*,*::before,*::after {
  box-sizing:inherit;
}

h2 {
text-align: center;
width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
line-height: 20px;
}

.mainlogo {
  width:7em;
}

.logosize {
  width: 2em;
}

.btn {
  background-color: #b2a3b3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.white {
  background-color: white;
}

.index {
  color: white;
  background-image: url("../images/city.jpg");

}

li {
  display: inline-block;
}

.banner {
  position: relative;
  width: 100%;
}

.text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%;
}

.me {
  border-radius:200px;
  width:100%;
}

.light-blue {
background-color: #c6d8e2;
}

.black {
  color: black;
}

.blue {
  color: #4a859a;
}

a {
  text-decoration: none;
}

.icon {
  width: 3em;
}

footer {
  background-color: #c6d8e2;
}


img {
  width:100%;
  height: 100%;
}

h1 {
  font-size: 2em;
  color: #c6d8e2;
}

h2 {
  font-size: 1em;
  color: #c6d8e2;
}

p {
  color: #4b6879;
}

.white {
  color: white;
}

.gillette {
  width: 100%;
}

.klogo {
  width: 4.5em;
}

.navblue {
  color: #c6d8e2;
}
