<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
    <div class="grid grid-middle text-right">
      <div class="unit xs-1-4 s-1-4 m-1-2 l-1-4 text-left">
        <a  href="index.html">
        <img class="island-half klogo" src="{{site.baseurl}}/images/klogo.svg" alt="">
       </a>
      </div>
      <div class="unit xs-3-4 s-3-4 m-1-2 l-3-4 text-right">
        <nav class="gutter">
          <ul class="list-group--inline">
            <li class="island-half">
              <a class="blue"  href="{{site.baseurl}}/">Home</a>
            </li>
            <li class="island-half">
              <a class="blue"  href="{{site.baseurl}}/bio/">Bio</a>
            </li>
            <li class="island-half">
              <a class="blue"  href="{{site.baseurl}}/portfolio/">Portfolio</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<main>
    {{content}}
</main>

    <div class="text-center pad-top pad-bottom">
      <a href="https://www.linkedin.com/in/kim-pepin-98934ab5">
      <img class="icon" src="{{site.baseurl}}/images/social-01.png" alt="">
      </a>
      <a href="https://www.instagram.com/kim.pepin.design/">
      <img class="icon" src="{{site.baseurl}}/images/social-02.png" alt="">
      </a>
      <a href="https://vimeo.com/kimothy">
      <img class="icon" src="{{site.baseurl}}/images/social-03.png" alt="">
      </a>
      <a href="mailto:kim@kimpepin.ca">
      <img class="icon" src="{{site.baseurl}}/images/social-04.png" alt="">
      </a>
    </div>
  </body>
</html>
